*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: white;
    
  

    background-image: url(./img/filter-gb6e4b36ca_1920.jpg);
    
}

#navbar{
    height: 50px;
    width: 100%;
    background-color: black; 
    display: flex; 
    align-items: center;
   
    box-shadow: 0 0 5px rgb(203, 64, 166)

}

#header{
    margin-top: 40px;
    margin-left: 10px;
    color: chartreuse;
}
#search{
background-color: transparent;
width: 90%;
height: 3rem;
border-radius: 3px;
font-size: larger;
position: relative;
margin-top: 20px;
margin-left: 10px;
border: 2px solid black;
}
.search-button {
    margin-top: 5px;
    margin-left: 10px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 3px;
    border-radius: 6px;
    overflow: hidden;
}
.search-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: 
        linear-gradient(115deg,
        #4fcf70, #fad648, 
        #a767e5,#12bcfe, 
        #44ce7b);
    background-size: 50% 100%;
    border-radius: inherit;
}
.search-button:hover::before {
    animation: 
        animate_border .75s
        linear infinite;
}

.search-button span {
    position: relative;
    z-index: 2;
    display: block;
    background-color: #000;
    padding: 13px 20px;
    border-radius: 3px;
}
@keyframes animate_border {
    to {
        transform: translateX(-50%)
    }
}
input{
    width: 300px;
    margin-top: 20px;
    height: 20px;
    margin-left: 15px;
    padding: 10px;
}


#book-results{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem;
    /* display: flex; */
    
    

}


.book {
    /* height: 150px;
    width: 100px; */
    width:300px;
    margin-bottom: 1rem;
    border: 1px solid white;

  }
/* .right{
    display: flex;
    justify-content: end;
} */
a{
    background-color: black;
    border: 2px solid  black;
    color: white;
    font-weight: 700;
    margin-left: 900px;
    padding: 5px;
}
h1{
    margin-top: 5px;
    color: white;
    font-weight: 700;
    margin-left: 15px;
   

}

.lable{
    margin-top: 5px;
    color: white;
    font-weight: 700;
    margin-left: 15px;
    margin-top: 50px;
    border: 2px solid black;
}